
html, body {




text-align: center;


}


p {text-align: center;}















*


{


 margin: 0 auto 0 auto;


text-align:center;}












#header


{


background:#339933


text-align:center;


}




#bottomContent


{


clear:both;


position:relative;


height:95%;


margin-top:70px;


margin-left:50px;


width:1250px;


}







#bottomContent .navColumn


{


margin-left:0px;


width:419px;


background-image:url(images/repeatBackNavAlpha.png);


background-repeat:repeat-y;


float:left;


}







#bottomContent .navColumn .overview


{


width:350px;


padding:5px;


margin-top:10px;


background: #41E18C;


}












#bottomContent .navColumn .link


{


width:369px;


height:65px;


line-height:65px;


font:Arial, Helvetica, sans-serif;


font-size:20px;


background-image:url(images/arrow_link_background.png);


background-repeat:no-repeat;


padding-left:50px;


}







#bottomContent .navColumn .link:hover


{


background-image:url(images/rollover_back65.png);


background-repeat:no-repeat;


}







a


{


color:#777B2B;


text-decoration:none;


}







a:hover


{


color:#CACE73;


text-decoration:none;


border-bottom:dotted 1px;


}












#bottomContent .contentColumn


{


float:left;


margin-left:0px;


width:550px;


}












.contentTop


{


width:519px;


height:29px;


background-repeat:no-repeat;


background-image:url(images/contentBoxTop.png);


}







.contentBottom


{


width:519px;


height:29px;


background-repeat:no-repeat;


background-image:url(images/contentBoxBottom.png);


margin-bottom:15px;


}

















.contentMain


{


width:489px;


height:auto;


background-repeat:no-repeat;


background-image:url(images/contentBoxBack.png);


background-repeat:repeat-y;


padding-left:18px;


padding-right:12px;


}







.contentMain h1


{


margin-left:21px;


font-size:21px;


line-height:normal;


margin-bottom:10px;


font-weight:bold;


color:#071027;


}












.comments


{


font-size:11px;


font-style:italic;


padding:10px;


margin-left:25px;


}












#bottomContent #navBottom{


clear:both;


width:419px;


height:20px;


background-repeat:no-repeat;


float:left;


}







html, body {


text-align: center;


}


p {text-align: center;}


